<!DOCTYPE html>
<html lang="en" ng-app="kitchensink">
    
    <!--<html xmlns="http://www.w3.org/1999/xhtml"> -->
    <head>
        <meta charset="utf-8">
        <title></title>

        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link href="Content/CanvasStyles/CanvasStyle.css" rel="stylesheet" />
        <script src="Scripts/kinetic-v5.1.0.js"></script>
        <script src="Scripts/fabric.js"></script>
        <script src="Scripts/jquery-1.9.1.js"></script>
        <script src="Scripts/canvasDrawing.js"></script>
        <script src="Scripts/addShape.js"></script>

    </head>
    <body>
        <img src="Content/Images/Red_Ballad-150x150.png" />
        <div class="container">
            <div id="drawBorder"></div>
            <br />
        </div>
        <div style="margin-left:760px">
            <button id="showOutside">Show outside of card</button><br />
            <button id="showInside">Show inside of card</button><br>
        </div>

        <div style="float:left; margin-left: 10px">
            <button id="selection-mode" class="btn btn-info">Select</button><br>
            <button id="drawing-mode" class="btn btn-info">Draw</button><br>
            <button id="delete-item" class="btn btn-info">Remove selected object/group</button><br>
            <button id="clear-canvas" class="btn btn-info">Clear canvas</button><br>

            <div id="drawing-mode-options">
                <label for="drawing-mode-selector">Mode:</label>
                <select id="drawing-mode-selector">
                    <option>Pencil</option>
                    <option>Circle</option>
                    <option>Spray</option>
                    <option>Pattern</option>

                    <!--<option>hline</option>
                    <option>vline</option>
                    <option>square</option>
                    <option>diamond</option>
                    <option>texture</option>-->
                </select><br>

                <label for="drawing-line-width">Line width:</label>
                <span class="info">30</span><input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>

                <label for="drawing-color">Line color:</label>
                <input type="color" value="#005E7A" id="drawing-color"><br>

                <input type="file" id="imgLoader">


                <div id="adding-shapes-options">
                    <label for="adding-shapes-selector">Shape:</label>
                    <select id="adding-shapes-selector">
                        <option value="0">Circle</option>
                        <option value="1">Rectangle</option>
                        <option value="2">Triangle</option>


                        <!--<option>hline</option>
                        <option>vline</option>
                        <option>square</option>
                        <option>diamond</option>
                        <option>texture</option>-->
                    </select><br>

                    <label for="shape-color">Shape color:</label>
                    <input type="color" value="#005E7A" id="shape-color"><br>
                    <button id="add-shape" class="btn btn-info">Add shape</button>
                </div>
                <!-- ############### text tools section ##############-->
                <hr />
                <p id="textTools" class="text"> Text Tools </p>
                <div id="text-wrapper" style="margin-top: 10px"  ng-show="getText()">
                    <span>
                    <textarea id="textArea">Enter text here</textarea>
                    <button type="button" class="add-text-button" id="addTextButton"
                            ng-click="addText()"
                            ng-class="{'btn-inverse': isItalic()}">
                        Add Text
                    </button>
                    </span>
                    <div id="text-controls">
                        <label for="font-family" style="display:inline-block">Font family:</label>
                        <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
                            <option value="arial">Arial</option>
                            <option value="helvetica" selected>Helvetica</option>
                            <option value="myriad pro">Myriad Pro</option>
                            <option value="delicious">Delicious</option>
                            <option value="verdana">Verdana</option>
                            <option value="georgia">Georgia</option>
                            <option value="courier">Courier</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                            <option value="impact">Impact</option>
                            <option value="monaco">Monaco</option>
                            <option value="optima">Optima</option>
                            <option value="hoefler text">Hoefler Text</option>
                            <option value="plaster">Plaster</option>
                            <option value="engagement">Engagement</option>
                        </select>
                        <br>
                        <label for="text-align" style="display:inline-block">Text align:</label>
                        <select id="text-align" class="btn-object-action" bind-value-to="textAlign">
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                            <option>Justify</option>
                        </select>
                        <div>
                            <label for="text-bg-color">Background color:</label>
                            <input type="color" value="" id="text-bg-color" size="10" class="btn-object-action"
                                   bind-value-to="bgColor">
                        </div>
                        <div>
                            <label for="text-lines-bg-color">Background text color:</label>
                            <input type="color" value="" id="text-lines-bg-color" size="10" class="btn-object-action"
                                   bind-value-to="textBgColor">
                        </div>
                        <div>
                            <label for="text-stroke-color">Stroke color:</label>
                            <input type="color" value="" id="text-stroke-color" class="btn-object-action"
                                   bind-value-to="strokeColor">
                        </div>
                        <div>
                            <label for="text-stroke-width">Stroke width:</label>
                            <input type="range" value="1" min="1" max="5" id="text-stroke-width" class="btn-object-action"
                                   bind-value-to="strokeWidth">
                        </div>
                        <div>
                            <label for="text-font-size">Font size:</label>
                            <input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action"
                                   bind-value-to="fontSize">
                        </div>
                        <div>
                            <label for="text-line-height">Line height:</label>
                            <input type="range" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn-object-action"
                                   bind-value-to="lineHeight">
                        </div>
                    </div>
                    <div id="text-controls-additional">
                        <button type="button" class="btn btn-object-action"
                                ng-click="toggleBold()"
                                ng-class="{'btn-inverse': isBold()}">
                            Bold
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-italic"
                                ng-click="toggleItalic()"
                                ng-class="{'btn-inverse': isItalic()}">
                            Italic
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-underline"
                                ng-click="toggleUnderline()"
                                ng-class="{'btn-inverse': isUnderline()}">
                            Underline
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-linethrough"
                                ng-click="toggleLinethrough()"
                                ng-class="{'btn-inverse': isLinethrough()}">
                            Linethrough
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-overline"
                                ng-click="toggleOverline()"
                                ng-class="{'btn-inverse': isOverline()}">
                            Overline
                        </button>
                    </div>
                </div>
                <!-- ################## end text tools section ###############-->
                <!--<label for="drawing-shadow-color">Shadow color:</label>-->
                <input type="color" value="#005E7A" id="drawing-shadow-color"><br>

                <!--<label for="drawing-shadow-width">Shadow width:</label>-->
                <!--<span class="info">0</span>--><input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>

                <!--<label for="drawing-shadow-offset">Shadow offset:</label>-->
                <!--<span class="info">0</span>--><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset"><br>
            </div>
        </div>
        <div style="float:left">
            <canvas id="mycanvasOutside" width="450" height="500" style="border:4px solid #000000;">
                Your browser does not support the HTML5 canvas tag.
            </canvas>

            <canvas id="myCanvasInside" width="450" height="500" style="border:4px solid #000000;">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>
        <script>

        </script>


    </body>
</html>
