body {
}
#drawBorder {
    border:1px solid #000000;
}
#drawCanvas{    
   float:right;
}
#mycanvasOutside {
    background-color: tan
}
#myCanvasInside {
    background-color: tan
}
#display{
    float:left;
}